section.gallery-container
	.content
		h2.section-heading.section-heading__regular The Gallery
		section.gallery
			.gallery--col
				.gallery--row
					a(href="")
						img.gallery--img(src=`${gallery[0].img}` alt=`${gallery[0].text}`) 
			.gallery--col
				.gallery--row
					a(href="")
						img.gallery--img(src=`${gallery[1].img}` alt=`${gallery[1].text}`)
				.gallery--row
					a(href="")
						img.gallery--img(src=`${gallery[2].img}` alt=`${gallery[2].text}`)
			.gallery--col
				.gallery--row
					a(href="")
						img.gallery--img(src=`${gallery[3].img}` alt=`${gallery[3].text}`)
				.gallery--row
					a(href="")
						img.gallery--img(src=`${gallery[4].img}` alt=`${gallery[4].text}`)
 
